.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
/*.grid2{*/
/*    display: grid;*/
/*    grid-template-columns: .3fr .7fr;*/
/*    grid-gap: 1rem;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*}*/

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}
.heroLinks {
    display: flex;
    flex-direction: row;
}